<div id="right-panel" class="right-panel">

  <div class="breadcrumbs">
    <div class="col-sm-4">
      <div class="page-header float-left">
        <div class="page-title">
          <h1>Dashboard</h1>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="page-header float-right">
        <div class="page-title">
          <ol class="breadcrumb text-right">
            <li>TubeMate</li>
            <li class="active">View</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <div class="content mt-3">
    <div class="animated fadeIn">
      <div class="row">
        <div class="col-md-4" *ngFor="let k of objVideo">
          <div class="card">
            <div class="card-header">
              <iframe class="img-fluid" [src]="k.Path |safe"></iframe>
            </div>
            <div class="card-body">
              <p>{{k.Des}}</p>
            </div>
            <div class="card-footer bg-dark">
              <h5 class="text-white text-center">{{k.Title}}</h5>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div style="width:1100px">
    <p class="text-center">All Right Reserved &copy;2018 Digipodium</p>
  </div>

</div>